<form action="/login" method="post">
    <label for="username">Username</label>
    <textarea name="username" id="username"></textarea>
    <br/>
    <label for="password">password</label>
    <textarea id="password" name="password"></textarea>
    <br>
    <input type="submit" name="submit">
</form>