<div id="shipSelections" class="storeItem">
    <span>
    <img width="200px" height="200px" src="<%= ship.shipImage %>">
    <div id="storeItem">
        <p class="name">Name: <%= ship.shipName %></p>
        <p class="price">Price: <%= ship.shipPrice %></p>
    </div>
        </span>
</div>