<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>game over</title>
    <script src="javascripts/model.js"></script>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body id="spaceBackground">
<h1 class="whiteTxt">Game Over!!</h1>

<p id="myTime" class="whiteTxt"></p>
<p id="myMoves" class="whiteTxt"></p>
<a href="/game">New Game</a>
<div id="countdown" class="whiteTxt"></div>
<ul id="scores" class="whiteTxt"></ul>
<script>
    var myMoves = document.getElementById("myMoves");
    var myTime = document.getElementById("myTime");
    var time = <%- gameTime %>;
    var moves = <%- gameMoves %>;
    myTime.innerHTML = "lasted " + time;
    myMoves.innerHTML = "Moves " + moves;
    //displayHighScores();

    var countdown = document.getElementById("countdown");
    var i = 3;

    setInterval(function () {
        if (i >= -1) {
            countdown.innerHTML = "<h2>" + i + "..</h2>";
            console.log("count" + i);
            i -= 1;
            if (i == -1) {
                location.href = "/game";
            }
        }
    }, 1000)


</script>


</body>
</html>