<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r74/three.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous">
    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">

    <style>

    </style>
    <script src="javascripts/model.js"></script>
    <script src="javascripts/Collisions.js"></script>
    <script src="javascripts/CollisionUtils.js"></script>
</head>
<body>

<div>
    <canvas id="mine"></canvas>
</div>
<div id="dash">

    <canvas id="yours"></canvas>
    <div id="messageBox"></div>
    <div id="moves"></div>
    <div id="timer"></div>
    <div id="Banks">
        <p id="bankTxt"></p>
    </div>
    <div id="ships">

        <% userShips.forEach(function(ship){ %>
        <% include partials/userShip.ejs %>
        <% }); %>

    </div>
    <div id="buttonPannle">
        <p id="logged"></p>
        <script>
            var currency = "<%- Coincurrency %>";

            localStorage.setItem("username", "<%- username %>");
            localStorage.setItem("Coincurrency", "<%- Coincurrency %>");
            console.log("cunt0" + localStorage.getItem("username"));
            console.log("bank " + localStorage.getItem("Coincurrency"));

            if (localStorage.getItem("username") != "") {
                $("#logged").append("Logged in as: " + localStorage.getItem("username"));
                $("#bankTxt").append("Coins: $" + (currency));
            } else {
                $('#logged').hide();
                $('#bank').hide();
            }
        </script>
        <script>
            var keys = {};
            window.addEventListener("keydown",
                    function (e) {
                        keys[e.keyCode] = true;
                        switch (e.keyCode) {
                            case 37:
                            case 39:
                            case 38:
                            case 40: // Arrow keys
                            case 32:
                                e.preventDefault();
                                break; // Space
                            default:
                                break; // do not block other keys
                        }
                    },
                    false);
            window.addEventListener('keyup',
                    function (e) {
                        keys[e.keyCode] = false;
                    },
                    false);
        </script>

        <ul id="buttonList">
            <li><a href="/store">
                    <button class="btn btn-primary">Shop</button>
                </a></li>
            <li><a href="/leaders">
                    <button class="btn btn-success">Leaderboard</button>
                </a></li>
            <li><a href="/signout">
                    <button class="btn btn-danger">Logout</button>
                </a></li>
        </ul>

    </div>

</div>

</body>

<script>var level = <%- level %>;
</script>

<script src="javascripts/gameScript.js"></script>
<script src="javascripts/game/collisionDetection.js"></script>
<script src="javascripts/game/helpers.js"></script>
<script src="javascripts/game/puzzleGame.js"></script>
<script src="javascripts/game/spaceGame.js"></script>
<script src="javascripts/game/runGame.js"></script>
<script src="javascripts/game/setShip.js"></script>
<script>

</script>
</html>