<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r74/three.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
            integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
            crossorigin="anonymous"></script>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<form action="/register" method="post">
    <label for="name">Username</label>
    <textarea name="username" id="username"></textarea>
    <label for="password">Password</label>
    <textarea name="password" id="password"></textarea>
    <label for="confirm">Password</label>
    <textarea name="confirm" id="confirm"></textarea>
    <input type="submit" id="submit" value="register">
</form>
<script>
    $('#submit').on("click", function () {
        console.log("shitty");
        if ($('#password').val() === $('#confirm').val()) {
            alert("Thanks for signing up, please enjoy these 50 tokens");
            return true;
        } else {
            $('#password').val("");
            $('#confirm').val("");
            $('#password').focus();
            alert("No match try again!");
            return false;
        }

    });

</script>
</body>
</html>