body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#winPage {
    background-color: khaki;
}

#spaceBackground {
    background: url("../images/header-top.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#storeItem {
    color: #FFFFFF;
}

#statsTxt {
    color: #FFFFFF;
}

.whiteTxt {
    color: #FFFFFF;
}

#shipSelections {
    margin-right: 2.5%;
}

#winPageStats {
    margin-left: 2%;
}

#Banks {
    font-size: 28px;
    right: 5%;
    color: #FFFFFF;
    font-family: "Agency FB";
    position: absolute;
    top: 10px;
}

#dash {
    position: absolute;
    background-color: khaki;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: url("../images/header-top.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#moves {
    font-size: 28px;
    right: 6.5%;
    color: #FFFFFF;
    font-family: "Agency FB";
    position: absolute;
    top: 45px;
}

#whiteTxt {
    color: #FFFFFF;
}

canvas {
    background-color: cornflowerblue;
}

#mine {
    position: absolute;
    left: -950px;
}

#logged {
    margin-left: 7%;
    color: #FFFFFF;
}

.storeItem {
    display: inline-block;
}

#ships {
    position: absolute;
    top: 469px;
    width: 457px;
    margin-left: 3%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 200px;
    display: inline-block;
    white-space: nowrap;
}

#yours {
    background-color: aliceblue;
    margin-top: 14px;
    margin-left: 26px;
}

#myShips {
    margin-top: 5px;
    margin-left: 26px;

}

#buttonPannle {
    position: absolute;
    left: 920px;
    width: 39%;
    right: 2%;
    top: 50px;;
    padding: 0.5%;
}

.btn {
    width: 90%;
    height: 120px;
    font-size: 30px;
    margin-top: 5px;
}

#buttonList {
    list-style: none;
}

#timer {
    font-size: 32px;
    font-family: "Agency FB";
    position: absolute;
    left: 963px;
    color: #FFFFFF;
    top: 10px;

}

#messageBox {
    position: absolute;
    font-family: "Agency FB";
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 40%;
}

.winMsg {
    font-size: 120px;
    font-weight: bold;
    color: blue;
}

.diedMsg {
    font-size: 120px;
    font-weight: bold;
    color: red;
}